backups/
cache/
crash
dbinfo.php
games/
lib/
local/
lock
log/
mail/
opt/
run/
spool/
tmp
www/*.*
www/*/
!www/swarmtv
private/codeigniter/application/config/database.php
private/codeigniter/application/config/config.php
